* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
body {
    background-color: rgb(221, 219, 219);
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box {
    position: relative;
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 4px black;
}

.box1 {
    display: flex;
    justify-content: center;
}

.follow {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 1rem;
}
.follow p {
    padding-right: 8px;
    border-right: 0.5px solid gray;
}
.follow:hover {
    background-color: whitesmoke;
}

.bg-img {
    position: relative;
    width: 340px;
    height: 160px;
    margin-top: 5px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-L091Avv9QHdLlXFdwG2XsPbU-TindeGzxg&s');
    background-size: cover;
    border-radius: 18px;
}

.box2 {
    position: absolute;
    top: 130px;
    left: 45px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 0;
}

.pro-pic {
    width: 64px;
    height: 64px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 50%;
}
.box3 {
    margin-top: 36px;
}
.box3 h1 {
    font-size: 1.6rem;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}
.box3 h1:hover {
    text-decoration: underline;
}

.box3 p {
    margin: 0 5px;
    padding-left: 8px;
    font-size: 0.9rem;
}

.box4 {
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 14px;
    height: 110px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    background-color: rgb(247, 245, 245);
    box-shadow: 0 0 4px rgb(210, 210, 210);
    display: flex;
}

.box41 {
    width: 107px;
    border-right: 1px solid rgb(211, 211, 211);
}
.box42 {
    width: 108px;
    border-right: 1px solid rgb(211, 211, 211);
}
.box43 {
    width: 107px;
}
.b4in {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.b4in p {
    margin: 0;
}
.b4in p:first-child {
    margin-top: 26px;
    font-size: 1.25rem;
}
.b4in p:last-child {
    font-size: 1.5rem;
    font-weight: 400;
}

.box5 {
    margin-top: 20px;
    display: flex;
    border-top: 1px solid rgb(205, 202, 202);
    justify-content: space-evenly;
}
.box55 {
    margin-top: 16px;
    font-size: 1.5rem;
    border: 1px solid transparent;
}
.box55:hover {
    border: 1px solid black;
}
